@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.body{
    background-color: #F1F2F5;
    width: 95%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: #80004A;
    width: 95%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topbox{
    width: 40%;
    height: 75px;
    display: flex;
    flex-direction: row;
    color: #F1F2F5;
    justify-content: flex-end;
    /*border: 1px solid black;*/
    
}
.topimg1{
    width: 15%;
    height: 75px;
}
.topimg2{
    width: 25%;
    height: 75px;
    font-size: 35px;
    justify-content: flex-end;
}
.topboxy{
    width: 25%;
    height: 75px;
    background-color: #80004A;
    color: #F1F2F5;
}
.toptext1{
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.toptext2{
    width: 100%;
    height: 30px;
    display: flex;
}
.aside{
    width: 100%;
    height: 500px;
    background-color: #F1F2F5;
    display: flex;
    flex-direction: row;
}

.asideall{
    width: 6%;
    height: 500px;
    background-color: #80004A;
    display: flex;
    flex-direction: column;
}

.asidebox{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.asideimg{
    width: 100%;
    height: 75px;
    font-size: 35px;
    color: #F1F2F5;
}

.contbox{
    width: 89%;
    height: 500px;
    background-color: #F1F2F5;
    border: 1px solid black;
}





