@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  flex-flow: row wrap;
  background: #f1f2f5;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
/*
===================================
======= ESTILOS DEL HEADER ========
===================================
*/
.header {
  width: 100%;
  height: 60px;
  background: #80004a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title--img {
  width: 58px;
  margin: 0 10px;
}
.header__text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.header__text--ipn {
  display: block;
  font-weight: 600;
  font-size: 16px;
}
.header__text--slogan {
  display: block;
  font-size: 12px;
}
.header__panel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 20px;
}
.header__panel--notifications {
  font-size: 20px;
  margin-right: 30px;
}
.panel__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  border-left: 2px solid white;
}
.panel__user--text {
  display: block;
  font-size: 16px;
  margin: 0 10px;
  background: #80004a;
  color: white;
  border: #80004a;
}
.panel__user--icon {
  font-size: 21px;
}
.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 100%;
}
.icon__user {
  font-size: 20px;
}

/*
===================================
======= ESTILOS DEL ASIDE ========
===================================
*/
.aside {
  background: #80004a;
}
.aside__content {
  position: fixed;
  width: 80px;
  height: calc(100vh - 60px);
  background: #80004a;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  grid-area: sidebar;
}

.aside__back {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.aside__back:hover::after {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.aside__options {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.aside__options--item {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  cursor: pointer;
}
.aside__options--item:hover::after {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}

/*
===================================
======= ESTILOS DEL MAIN ========
===================================
*/

.main {
  background: #f1f2f5;
  max-width: calc(100vw - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  grid-area: main;
  padding: 35px 60px;
}
.main__content {
  width: 100%;
}
.content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, auto [col-start]);
  grid-template-rows: auto;
  column-gap: 40px;
}
.formulario {
  width: 100%;
  background: white;
  border: 1px solid #28293456;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 25px 30px 25px 60px;
  display: grid;
  grid-template-columns: repeat(6, auto [col-start]);
  grid-template-rows: auto;
}
.formulario__validacion--estado {
  position: absolute;
  right: 45px;
  bottom: 33px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}
.formulario__input--error {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}
.disable {
  display: none;
}
.formulario__input-error-active {
  display: block;
}
.formulario__panel {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.form__title {
  grid-column: span 6;
}
.form__group {
  padding-right: 30px;
  position: relative;
  margin-top: 30px;
}
.form__group--input {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.form__label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #282934;
  margin-bottom: 10px;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 40px;
  border: 1px solid #7070704d;
  border-radius: 5px;
  background: #f1f2f5;
  outline: none;
  padding: 0 10px;
  transition: 0.3s ease all;
}
.form__input--text-area {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 1px solid #7070704d;
  border-radius: 5px;
  background: #f1f2f5;
  outline: none;
  padding: 0 10px;
  transition: 0.3s ease all;
  width: 100%;
  min-height: 120px;
  max-height: 120px;
  padding: 10px;
  resize: none;
}
.form__input:focus {
  border: 1px solid #1d82ef7a;
  box-shadow: 0px 0px 20px 0px rgba(29, 130, 239, 0.377);
}
.form__input--file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.dropfile {
  width: 100%;
  height: 170px;
  border: 2px dashed #1d84ef;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 63px;
  color: #1d84ef;
  margin-bottom: 20px;
}
.dropfile__text {
  display: block;
  color: #282934;
  font-size: 14px;
  margin-top: 10px;
}
.dropfile__label {
  padding: 10px;
  background: #1d84ef;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
.main__title {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 10px;
  border-bottom: 1px solid #28293456;
  margin-bottom: 30px;
}
.main__title--text {
  font-size: 20px;
  color: #282934;
  margin-bottom: 10px;
}
.main__title--instructions {
  font-size: 16px;
}
.message {
  background: #d40e0b94;
  border: 1px solid #d40e0b;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}
.active {
  display: block;
}
.btn__submit {
  background: #1f8824;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}
.p1 {
  grid-column: span 1;
}
.p2 {
  grid-column: span 2;
}
.p3 {
  grid-column: span 3;
}
.p4 {
  grid-column: span 4;
}
.p5 {
  grid-column: span 5;
}
.p6 {
  grid-column: span 6;
}
.r1 {
  grid-row: span 1;
}
.r2 {
  grid-row: span 2;
}
.r3 {
  grid-row: span 3;
}

.footer {
  width: 100%;
  height: 180px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #80004a;
  grid-area: footer;
  z-index: 1000;
}

.footer__img--ipn {
  width: 122px;
  height: 118px;
}
.footer__img--cigata {
  width: 111px;
  height: 78px;
}

.footer__text {
  color: white;
  text-align: center;
  margin: 0 60px;
}
.footer__text--title {
  font-weight: 700;
  font-size: 20px;
}
.footer__text--direction {
  font-size: 12px;
  margin-top: 20px;
}

/* Tamaño del scroll */
body::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .form__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion--estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .form__input {
  border: 1px solid #bb2929;
  box-shadow: #bb2929;
  box-shadow: 0px 0px 20px 0px #bb292956;
}

@media screen and (max-width: 800px) {
  .p1 {
    grid-column: span 6;
  }
  .p2 {
    grid-column: span 6;
  }
  .p3 {
    grid-column: span 6;
  }
  .p4 {
    grid-column: span 6;
  }
  .p5 {
    grid-column: span 6;
  }
  .p6 {
    grid-column: span 6;
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #80004a;
    grid-area: footer;
  }
  .footer__img--cigata {
    width: 111px;
    height: 78px;
    margin: 20px;
  }
}